<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span>Category</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{category.category}}</span>
                </dd>
                <dt><span>Bank Account</span></dt>
                <dd>
                    <div *ngIf="category.bankAccountId">
                        <a [routerLink]="['/bank-account', category.bankAccountId, 'view']">{{category.bankAccountId}}</a>
                    </div>
                </dd>
                <dt><span>Depreciation</span></dt>
                <dd>
                    <div *ngIf="category.depreciationId">
                        <a [routerLink]="['/depreciation', category.depreciationId, 'view']">{{category.depreciationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
