<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-category-heading">Create or edit a Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!category.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="category.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                        [(ngModel)]="category.category" required/>
                    <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.category?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bankAccount">Bank Account</label>
                    <select class="form-control" id="field_bankAccount" name="bankAccount" [(ngModel)]="category.bankAccountId" required>
                        <option *ngIf="!editForm.value.bankAccount" [ngValue]="null" selected></option>
                        <option [ngValue]="bankAccountOption.id" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.bankAccount?.dirty && editForm.controls.bankAccount?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.bankAccount?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_depreciation">Depreciation</label>
                    <select class="form-control" id="field_depreciation" name="depreciation" [(ngModel)]="category.depreciationId" required>
                        <option *ngIf="!editForm.value.depreciation" [ngValue]="null" selected></option>
                        <option [ngValue]="depreciationOption.id" *ngFor="let depreciationOption of depreciations; trackBy: trackDepreciationById">{{depreciationOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.depreciation?.dirty && editForm.controls.depreciation?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.depreciation?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
